fastapi
uvicorn
python-multipart
sqlalchemy
python-jose[cryptography]
bcrypt==4.0.1
pandas
numpy
scikit-learn
torch==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
joblib
python-dotenv
pydantic[email]
pydantic-settings
passlib